body{
 background:#00BFFF;
 margin: 20px;
 padding: 20px;
}

#container{
  width: 100%;
  height: 700px;
  margin: auto;
}
.header
{
  font-family: Verdana, sans-serif;
  background-color: #ccaa66;
  height: 80px;
  border-style: solid;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;

}
.navi
{
  font-family: Verdana, sans-serif;
  background-color: #E8D882;
  width: 80%;
  height: 223px;
  padding: 20px;
  border-left: solid;
}
a{
  text-decoration: none;
}
a:active{color: red;}
a:visited{color: purple;}
a:link{color: blue;}
.bd
{
  font-family: Verdana;
  background: #f1e8b0;
  width: 79%;
  position:relative;
  padding-top: 20px;
  padding-left: 20px;
  top: -263px;
  left: 242px;
  border-right: solid;
  background-image: url('konan.jpg');
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: right;
  background-position: 620px ;
}
.footer
{
  font-family: Verdana;
  font-style: italic;
  font-size: 14;
  background-color: #ccaa66;
  height: 80px;
  border-style: solid;
  text-align: center;
  top: -262px;
  position: relative;
  padding-top: 30px;
}
